<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <link rel="shortcut icon" type="image/css" href="http://theme.co/x/demo/icon/1/wp-content/uploads/sites/2/2013/07/3-loupe.png" />
    <title>Collage system</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")  
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js' defer></script>
    <script type='text/javascript' src='~/Scripts/knockout.mapping.js' defer></script>
    <script type='text/javascript' src='~/Scripts/myscripts.js' defer></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous" defer></script>
</head>
<body>

<div class="main-container">

    <header class="header-container">
        <div class="header-logo"></div>
        @*<img src="http://theme.co/x/demo/icon/1/wp-content/uploads/sites/2/2013/07/3-loupe.png">*@
        <h1 class="main-header">Collage system manager</h1>
    </header>

    <nav class="nav-container">
        <ul class="nav-list">
            <li><a href="#students">Students</a></li>
            <li><a href="#courses">Courses</a></li>
        </ul>
    </nav>

    <article class="content-container body-content">
        @RenderBody()
    </article>

    <footer class="clearfix" role="contentinfo">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-3">
                    <p>&copy; @DateTime.Now.Year - Arkadiusz Chorian</p>
                </div>
                <div class="col-md-offset-6 col-md-3">
                    <h3>Related sites</h3>
                    <ul>
                        <li><a href="http://fc.put.poznan.pl">Wydział informatyki PUT</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
<!--<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Collage system", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @*<li>@Html.ActionLink("Courses", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Students", "Index", "Home", new { area = "" }, null)</li>*@
                <li><a href="#courses">Courses</a></li>
                <li><a href="#students">Students</a></li>
                <li><@Html.ActionLink("API", "Index", "Help", new {area = ""}, null)</li>
            </ul>
        </div>
    </div>
</div> -->
